body {
    margin: 0;
    padding: 0 ;
    background-color: rgb(230, 237, 235);
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
}


.WishApp{
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
    border-radius: 10px;
    padding: 10px;
    width: 800px;
    margin-top: 50px;



}


.list-header {

   

}